
body {
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(/assets/image/kindergarden.jpg);
    box-sizing: border-box;
    padding: 0;
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}



.contenedor {
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    

}

.titulo {
    color: #B562DE;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

main .levels{
    padding: 30px 0 60px 0;
}



.imagen-parvulo{
    width: 35%;
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 20px;
}

.imagen-prejardin{
    width: 35%;
    margin: 20px;
    padding: 10px;
    float: right;
    border-radius: 20px;
}

.imagen-jardin{
    width: 35%;
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 20px;
    
}

.imagen-transicion{
    width: 35%;
    margin: 20px;
    padding: 10px;
    float: right;
    border-radius: 20px;
}



.parvulo .contenido-textos{
    width: 48%;
    
}

.prejardin .contenido-textos{
    width: 48%;
}

.jardin .contenido-textos{
    width: 48%;
}

.transicion .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #0C86EE;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

h3 {
    color: #FB6803;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    
    
}


